*.o
re2c
re2c.1
re2c.ad
re2c.spec
.deps
autom4te.cache
configure
install-sh
/README
aclocal.m4
Makefile
Makefile.in
config.h.in
config.status
config.log
config.sub
config.guess
config_w32.h
config.h
depcomp
compile
makerpm
missing
mkinstalldirs
stamp-h
stamp-h1
stamp-h.in
parser.cc
scanner.cc
y.tab.h
run_tests.sh
