body {
    text-align: justify;
    margin-top: 1%;
    margin-right: auto;
    margin-bottom: 1%;
    margin-left: auto;
    width: 85%;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #557799;
    font-weight: normal;
}
h1 {
    border-bottom: groove gray;
    padding-top: 1em;
}
h1.title {
    font-size: 2.5em;
    text-align: center;
    border: none;
}

a {
    color: #557799;
}
a:focus {
    outline: none;
}

table, tr, td, th {
    border: none;
    padding: 0em 0.2em 0em 0.2em;
}

pre.code {
    color: black;
    padding: 1em 1em 1em 1em;
    margin: 0 0 0 0;

    border: 1px solid #557799;
    border-left: 8px solid #557799;

    background-color: #f3f3f3;
    display: block;
    white-space: pre;
    overflow: auto;
}

pre.code .ln { color: grey; } /* line numbers */
pre.code .comment, code .comment { color: #004488; }
pre.code .keyword, code .keyword { color: #003399; font-weight: bold; }
pre.code .keyword.type, code .keyword.type { color: #aa3300; }
pre.code .operator, code .operator { color: #000066; }
pre.code .punctuation, code .punctuation { color: #000066; font-weight: bold; }
pre.code .literal.string, code .literal.string { color: #ff5500; }
pre.code .literal.number, code .literal.number { color: #ff5500; font-weight: bold; }
pre.code .name.builtin, code .name.builtin { color: #352B84 }
pre.code .deleted, code .deleted { background-color: #DEB0A1}
pre.code .inserted, code .inserted { background-color: #A3D289}

img {
    display: block;
    border: 1px dotted #557799;
    margin: auto;
}

img.feed {
    display: inline;
    border: none;
    vertical-align: middle;
}
